<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Port</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/access.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <!-- CSS only -->

</head>

<body>
    <h1>Squid Game</h1>
    <form method="POST">
        <input name="accessCode" id="code" type="text" oninput="check()" placeholder="Access Code" required>
        <input id="submit" type="submit" value="Proceed">
    </form>
    <div id="scene">
        <div data-depth="0.5">
            <div class="l1">
                <img id="e2" src="../ellipse.png" width="50">
                <img id="s2" src="../square.png" width="50">
                <img id="t2" src="../triangle.png" width="50">
                <img id="e4" src="../ellipse.png" width="50">
                <img id="e3" src="../ellipse.png" width="40">
                <img id="s3" src="../square.png" width="50">
                <img id="t3" src="../triangle.png" width="50">
                <img id="s4" src="../square.png" width="50">
                <img id="t4" src="../triangle.png" width="50">
            </div>
        </div>
        <div data-depth="0.2">
            <div class="l1">
                <img id="e1" src="../ellipse.png" width="40">
                <img id="s1" src="../square.png" width="50">
                <img id="t1" src="../triangle.png" width="50">
              
            </div>
        </div>
      </div>

    <% if(locals.error){ %>
        <p id="error"> <%= error %></p>
      <% } %>   
      <script>
          var scene = document.getElementById('scene');
      var parallaxInstance = new Parallax(scene);
      document.getElementById('submit').style.opacity=0.6;
            document.getElementById('submit').style.pointerEvents='none'

            function check(){
                if(document.getElementById('code').value.length>2)
               { document.getElementById('submit').style.opacity=1;
               document.getElementById('submit').style.pointerEvents='all' }
            }
      </script>
</body>

</html>