<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <base href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/players.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .status-overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 0.4s ease;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -204.21%, #FF6489 91.82%);
            opacity: 1;
            z-index: 30;
            opacity: 0;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrap">
        <a href="/frontman" class="nav">Dashboard</a>
        <a href="/frontman/players" class="nav active">Players</a>
        <a href="/frontman/workers" class="nav">Staff</a>
        <a href="/frontman/games" class="nav">Games</a>
        </div>
        <div class="user-log" onclick="logout()">
            <img src="./crown.png">
            &nbsp; Frontman
        </div>
    </nav>

    <section style="display: flex; justify-content: space-between;">
        <div class="left">
            <div class="srch">
                <div class="search-box">
                    <input oninput="filter()" class="search-name" placeholder="Search players">
                    <i class="fas fa-search""></i>
                </div>
                <button onclick=" create()" class="create">
                        Create New Player
                        </button>
                </div>
                <div class="no-player">
                    <h1>Squid Game</h1>
                    <p>Select a player for more options.</p>
                </div>
                <div class="user-model">
                    <div class="profile-wrap">
                        <div class="user-image"></div>
                        <div class="user-name">
                            <p id="userId">Player 4210</p>
                            <div class="gender" style="display: flex; align-items: center;">
                                <i c></i>
                                <p>Ishaan Das</p>
                            </div>

                        </div>
                    </div>
                    <div class="ui-wrap">
                        <div class="status-wrap">
                            <h1>Status</h1>
                            <div id="status-box">
                                <div id="statusDot"></div>
                                <p>Active</p>
                            </div>
                        </div>
                        <div class="status-wrap debt">
                            <h1>Debt</h1>
                            <span id="debt"></span>
                        </div>
                    </div>

                    <button onclick="eliminate()" class="elim"><i class="far fa-times-circle"></i>
                        <p>Eliminate</p>
                    </button>

                </div>

            </div>
            <div class="right">
                <div class="grid">
                    <!-- <div class="player">
                    <p id="playerId">
                        4210
                    </p>
                    <div class="player-data">
                        <p class="name">ISHAAN DAS</p>
                        <p class="click">Click for more</p>
                    </div>
                </div>
                -->
                </div>

            </div>
    </section>
    <div class="bg-overlay"></div>
    <div class="elim-box">
        <p>Are you sure you want to eliminate this player?</p>
        <div class="buttons">
            <button class="yes">Yes</button>
            <button class="no">No</button>
        </div>
    </div>

    <div class="create-dialog">
        <h1>Create New Player</h1>
        <form method="post" action="/frontman/player/new" id="create-form">
            <label for="form-name">Name</label>
            <input type="text" name="name" id="form-name" placeholder="John Doe" required>
            <label for="form-gender">Gender</label>
            <select id="form-gender" name="gender" required>
                <option value="" disabled selected>Select a gender</option>
                <option value='Agender'>Agender</option>
                <option value='Androgyne'>Androgyne</option>
                <option value='Androgynous'>Androgynous</option>
                <option value='Bigender'>Bigender</option>
                <option value='Cis Female'>Cis Female</option>
                <option value='Cis Feminine'>Cis Feminine</option>
                <option value='Cis Male'>Cis Male</option>
                <option value='Cis Masculine'>Cis Masculine</option>
                <option value='Cis Woman'>Cis Woman</option>
                <option value='Demigirl'>Demigirl</option>
                <option value='Demiguy'>Demiguy</option>
                <option value='Female'>Female</option>
                <option value='Feminine'>Feminine</option>
                <option value='Femme'>Femme</option>
                <option value='Genderqueer'>Genderqueer</option>
                <option value='Genderweird'>Genderweird</option>
                <option value='Gender Fluid'>Gender Fluid</option>
                <option value='Intergender'>Intergender</option>
                <option value='Intersex'>Intersex</option>
                <option value='Male'>Male</option>
                <option value='Man'>Man</option>
                <option value='Masculine'>Masculine</option>
                <option value='Neutrois'>Neutrois</option>
                <option value='Nonbinary'>Nonbinary</option>
                <option value='Other'>Other</option>
                <option value='Pangender'>Pangender</option>
                <option value='Third Gender'>Third Gender</option>
                <option value='Trans Female'>Trans Female</option>
                <option value='Trans Male'>Trans Male</option>
                <option value='Trans Man'>Trans Man</option>
                <option value='Trans Feminine'>Trans Feminine</option>
                <option value='Trans Femme'>Trans Femme</option>
                <option value='Trans Woman'>Trans Woman</option>
                <option value='Woman'>Woman</option>
            </select>
            <label for="form-debt">Debt</label>
            <input type="number" name="debt" id="form-debt" placeholder="₹ 40,50,300.00" required>
        </form>
        <button type="submit" value="Create" form="create-form">Create Player</button>

    </div>

    <script type="text/javascript">
        var list =<%-JSON.stringify(data)%>;
        $('.grid').empty();
        $('.bg-overlay').hide();
        $('.elim-box').hide();
        $('.create-dialog').hide();
        $('.user-model').hide();
        list.forEach((x, n) => {
            let html;
            if (x.isEliminated == 0)
                html = `<div class="player" id="`+x._id+`" onclick="select(` + n + `,this)" style="    background-image:url(` + x.pfp + `);">
                <div class="status-overlay"></div>    
                <div class="elim-overlay"></div>
                <p id="playerId">
                        `+ x._id + `
                    </p>
                    <div class="player-data">
                        <p class="name">`+ x.name + `</p>
                        <p class="click" >Click for more</p>
                    </div>
                </div>`;
            else
                html = `<div class="player"  id="`+x._id+`"  onclick="select(` + n + `,this)" style="    background-image:url(` + x.pfp + `);">
                <div class="status-overlay"></div>    
                <div class="elim-overlay" style="opacity:1;"></div>
                <p id="playerId">
                        `+ x._id + `
                    </p>
                    <div class="player-data">
                        <p class="name">`+ x.name + `</p>
                        <p class="click" >Click for more</p>
                    </div>
                </div>`;
            $('.grid').append(html);
        });
        var currentSelected;
        var prevSelected;
        function select(id, e) {
            if (prevSelected) {
                prevSelected.querySelector('.status-overlay').style.opacity = 0;
            }
            let elem = list[id];
            currentSelected = elem;
            e.querySelector('.status-overlay').style.opacity = 1;
            $('.user-image').css('background-image', 'url(' + elem.pfp + ')');
            $('#userId').html('Player ' + elem._id);
            $('.gender p').html(elem.name);
            $('#debt').html('₹ ' + elem.debt.toLocaleString('en-IN'));
            if (elem.pfp.includes('/men/')) {
                $('.gender i').attr('class', 'fas fa-mars');
            }
            else {
                $('.gender i').attr('class', 'fas fa-venus');
            }
            if (elem.isEliminated == 0) {
                $('#statusDot').css('background-color', '#B8FFB7');
                $('.elim').removeClass('disabled');
                $('#status-box p').html("Active");
            }
            else {
                $('#statusDot').css('background-color', '#BE4D68');
                $('#status-box p').html("Eliminated");
                $('.elim').addClass('disabled');
            }
            $('.no-player').hide()
            $('.user-model').show();
            prevSelected = e;

        }

        function create() {
            $('.bg-overlay').show();
            $('.create-dialog').show();
        }

        function eliminate() {
            $('.bg-overlay').show();
            $('.elim-box').show();
            console.log(currentSelected)
        }

        document.querySelector('.yes').addEventListener('click', () => {
            $.post("/frontman/player/eliminate",
                {
                    playerId: currentSelected._id,
                },
                function (data, status) {
                    $('.bg-overlay').hide();
                    $('.elim-box').hide();
                    $('#statusDot').css('background-color', '#BE4D68');
                    $('#status-box p').html("Eliminated");
                    $('.elim').addClass('disabled');
                    prevSelected.querySelector('.elim-overlay').style.opacity = 1;
                });
        });
        document.querySelector('.bg-overlay').addEventListener('click', () => {
            $('.bg-overlay').hide();
            $('.elim-box').hide();
            $('.create-dialog').hide();

        });
        document.querySelector('.no').addEventListener('click', () => {
            $('.bg-overlay').hide();
            $('.elim-box').hide();
        });

        function filter(){
            
            let elem;
            let string = document.querySelector('.search-name').value;
            if(string.length==0){
                $('.no-player').show();
                prevSelected.querySelector('.status-overlay').style.opacity = 0;

                 $('.user-model').hide();
                 return;
            }
            let found=0;
            let i;
            for( i=0;i<list.length;i++){
                if(list[i].name.toUpperCase().includes(string.toUpperCase()))
                    {
                        elem=list[i];
                        found=1;
                        break;
                    }
            }
            if(found==1)
            selectSearch(elem,i+1);
            else{
                if (prevSelected) {
                prevSelected.querySelector('.status-overlay').style.opacity = 0;
            }
                $('.no-player').show()
                $('.user-model').hide();
            }
        }

        function selectSearch(elem,index) {
            $('.right').animate({
            scrollTop: $('#'+index).offset().top - $('.right').offset().top + 
            $('.right').scrollTop()
            });
            document.getElementById(index).scrollIntoView();
            if (prevSelected) {
                prevSelected.querySelector('.status-overlay').style.opacity = 0;
            }
            console.log(index)
            document.getElementById(index).querySelector('.status-overlay').style.opacity = 1;
            prevSelected =  document.getElementById(index);
            currentSelected = elem;
            currentSelected = elem;
            $('.user-image').css('background-image', 'url(' + elem.pfp + ')');
            $('#userId').html('Player ' + elem._id);
            $('.gender p').html(elem.name);
            $('#debt').html('₹ ' + elem.debt.toLocaleString('en-IN'));
            if (elem.pfp.includes('/men/')) {
                $('.gender i').attr('class', 'fas fa-mars');
            }
            else {
                $('.gender i').attr('class', 'fas fa-venus');
            }
            if (elem.isEliminated == 0) {
                $('#statusDot').css('background-color', '#B8FFB7');
                $('.elim').removeClass('disabled');
                $('#status-box p').html("Active");
            }
            else {
                $('#statusDot').css('background-color', '#BE4D68');
                $('#status-box p').html("Eliminated");
                $('.elim').addClass('disabled');
            }
            $('.no-player').hide()
            $('.user-model').show();

        }

        function logout(){
                window.location.href='/auth/logout';
            }

    </script>
</body>

</html>