<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <base href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/vipGames.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .status-overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 0.4s ease;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -204.21%, #FF6489 91.82%);
            opacity: 1;
            z-index: 30;
            opacity: 0;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrap">
        <a href="/vip/players" class="nav">Dashboard</a>
        <a href="/vip/games" class="nav active">Games</a>
        </div>
        <div class="user-log " onclick="openProfile()">
            <img src="./user-2-red.png">
            &nbsp; Profile
        </div>
    </nav>

    <section style="display: flex; justify-content: space-between;flex-direction:column">
        <div class="top">
            <div class="srch">
                <div class="search-box">
                    <input oninput="searchFilter()" class="name" placeholder="Search games">
                    <i class="fas fa-search"></i>
                </div>
                <div class="category-filters">
                    <button class="selected-button" onclick="changeCategory('all')" label="all">
                        All
                    </button>
                    <button onclick="changeCategory('completed')" label="completed">
                        Completed
                    </button>
                    <button onclick="changeCategory('ongoing')" label="ongoing">
                        Ongoing
                    </button>
                </div>
            </div>

        </div>
        <div class="gameList">


        </div>
    </section>

    <div class="bg-overlay">

    </div>

    <script>
        const data = <%- JSON.stringify(data) %>;
        $('.bg-overlay').hide()
        document.querySelector(".bg-overlay").addEventListener('click', e => {
            if (e.target === e.currentTarget) $('.bg-overlay').hide()
        });
        const displayPopup = gameNum => {
            let i = 0;
            for (let game of data.games) {
                if (game.game_no == gameNum) {
                    let html = `<div class="popup-box">
                                    <span class="popup-title">Game ${game.game_no}: ${game.name}</span>
                                    <span class="popup-desc">${game.description}</span>
                                    <div class="popup-stats">
                                        <div>
                                            <img src="players.svg">
                                            <span class="popup-stat-num">${data.mortalityRates[i]}%</span>
                                            <span>Mortality Rate</span>
                                        </div>
                                        <div>
                                            <img src="mortality.svg">
                                            <span class="popup-stat-num">${data.deathsPerRound[i]}</span>
                                            <span>Players Eliminated</span>
                                        </div>
                                    </div>
                                </div>`
                    document.querySelector(".bg-overlay").innerHTML = html
                    break;
                }
                i++;
            }
            $('.bg-overlay').show()
        }

        const searchFilter = () => {
            const val = document.querySelector(".name").value;
            let gamesArr = []

            for (let game of data.games) {
                if (game.name.toLowerCase().includes(val.toLowerCase())) {
                    gamesArr.push(game);
                }
            }

            renderData(gamesArr);
        }

        const changeCategory = cat => {
            const buttons = document.querySelectorAll(".category-filters > button");
            for (let button of buttons) {
                if (button.classList.contains("selected-button") || button.getAttribute("label") == cat) {
                    button.classList.toggle("selected-button");
                }
            }

            let gamesArr = [];
            for (let game of data.games) {
                if (game.isCurrentGame && cat == "completed") continue;
                if (!game.isCurrentGame && cat == "ongoing") continue;
                gamesArr.push(game);
            }
            renderData(gamesArr)
        }

        const renderData = arr => {
            const gameList = document.querySelector(".gameList")
            gameList.innerHTML = "";
            let i = 0;
            for (let game of arr) {
                if (game.isCurrentGame) {
                    html = `<div class="game currentGame" onclick="displayPopup('${game.game_no}')">
                                <div class="gameInfo">
                                    <span class="gameNum">Game ${game.game_no}</span>
                                    <span>${game.name}</span>
                                </div>
                                <div class="gameStatistics">
                                </div>
                                <span class="gameStatus">
                                    Ongoing
                                </span>
                            </div>`
                } else {
                    html = `<div class="game" onclick="displayPopup('${game.game_no}')">
                        <div class="gameInfo">
                            <span class="gameNum">Game ${game.game_no}</span>
                            <span>${game.name}</span>
                        </div>
                        <div class="gameStatistics">
                            <span>${data.mortalityRates[i]}% mortality rate</span>
                            <span>${data.deathsPerRound[i]} players eliminated</span>
                        </div>
                        <span class="gameStatus">
                            Completed
                        </span>
                    </div>`
                }
                gameList.innerHTML += html;
                i++;
            }
        }

        renderData(data.games)

        function openProfile(){
            window.location.href='/vip'
        }
    </script>

</body>

</html>