<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/players.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .status-overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 0.4s ease;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -204.21%, #FF6489 91.82%);
            opacity: 1;
            z-index: 30;
            opacity: 0;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrap">
        <a href="/vip/players" class="nav active">Dashboard</a>
        <a href="/vip/games" class="nav">Games</a>
        </div>
        <div class="user-log" onclick="openProfile()">
            <img src="./user-2.png">
            &nbsp; Profile
        </div>
    </nav>

    <section style="display: flex; justify-content: space-between;">
        <div class="left">
            <div class="srch">
                <div class="search-box" style="width: 30vw;">
                    <input oninput="filter()" class="search-name" placeholder="Search players">
                    <i class="fas fa-search""></i>
                </div>
                </div>
                <div class="no-player">
                    <h1>Squid Game</h1>
                    <p>Select a player for more options.</p>
                </div>
                <div class="user-model" style="margin-top: 70px;">
                    <div class="profile-wrap">
                        <div class="user-image"></div>
                        <div class="user-name">
                            <p id="userId">Player 4210</p>
                            <div class="gender" style="display: flex; align-items: center;">
                                <i c></i>
                                <p>Ishaan Das</p>
                            </div>

                        </div>
                    </div>
                    <div class="ui-wrap" style="align-items: flex-start;">
                        <div class="status-wrap" >
                            <h1>Status</h1>
                            <div id="status-box">
                                <div id="statusDot"></div>
                                <p>Active</p>
                            </div>
                        </div>
                        <div class="status-wrap debt">
                            <h1>Bets Placed</h1>
                            <p><span style="color: #B8FFB7;">For :</span> <span id="for-bet">$42,000</span></p>
                            <p id="against"><span style="color: #FF6489;">Against :</span> <span id="against-bet">$42,000</span></p>

                        </div>
                    </div>
                    <div class="button-wrap" style="display: flex; align-items: center; margin-top: 50px;">  <button onclick="bet(1)" style="margin-top: 0;" class="elim">
                        <p>Bet For</p>
                    </button>
                    <button onclick="bet(-1)" style="margin-top: 0; margin-left: 25px;" class="elim">
                        <p>Bet Against</p>
                    </button>
                </div>
                  

                </div>

            </div>
            <div class="right">
                <div class="grid">
                    <!-- <div class="player">
                    <p id="playerId">
                        4210
                    </p>
                    <div class="player-data">
                        <p class="name">ISHAAN DAS</p>
                        <p class="click">Click for more</p>
                    </div>
                </div>
                -->
                </div>

            </div>
    </section>
    <div class="bg-overlay"></div>
    <div class="elim-box" style="width: 40%;">
        <p style="font-size:23px; font-weight: 600; margin-top: 30px; margin-bottom: 10px;">Betting <span id="bet-type">for</span> Player <span style="color: #FF6489;" id="bet-player-id">4210</span></p>
        <form action="/vip/bet" id="bet-form">
            <label for="form-name">Enter Amount</label>
            <input type="text" name="playerId" id="playerId" hidden>
            <input step="10000" type="number" name="betAmount" id="betAmount" placeholder="₹ 42,00,00,000" required>
        </form>
        <div class="buttons" style="margin-top: 30px;">
            <button class="yes" style="padding: 13px 35px; font-family: 'Oxygen'; font-size: 15px;">Place Bet</button>
        </div>
    </div>

    <script type="text/javascript">
        var notyf = new Notyf();
        notyf.error('You must fill out the form before moving forward');

        var list =<%-JSON.stringify(data)%>;
        $('.grid').empty();
        $('.bg-overlay').hide();
        $('.elim-box').hide();
        $('.user-model').hide();
        list.forEach((x, n) => {
            let html;
            if (x.isEliminated == 0)
                html = `<div class="player" id="`+x._id+`" onclick="select(` + n + `,this)" style="    background-image:url(` + x.pfp + `);">
                <div class="status-overlay"></div>    
                <div class="elim-overlay"></div>
                <p id="playerId">
                        `+ x._id + `
                    </p>
                    <div class="player-data">
                        <p class="name">`+ x.name + `</p>
                        <p class="click" >Click for more</p>
                    </div>
                </div>`;
            else
                html = `<div class="player"  id="`+x._id+`"  onclick="select(` + n + `,this)" style="    background-image:url(` + x.pfp + `);">
                <div class="status-overlay"></div>    
                <div class="elim-overlay" style="opacity:1;"></div>
                <p id="playerId">
                        `+ x._id + `
                    </p>
                    <div class="player-data">
                        <p class="name">`+ x.name + `</p>
                        <p class="click" >Click for more</p>
                    </div>
                </div>`;
            $('.grid').append(html);
        });
        var currentSelected;
        var prevSelected;
        function select(id, e) {
            if (prevSelected) {
                prevSelected.querySelector('.status-overlay').style.opacity = 0;
            }
            let elem = list[id];
            currentSelected = elem;
            e.querySelector('.status-overlay').style.opacity = 1;
            $('.user-image').css('background-image', 'url(' + elem.pfp + ')');
            $('#userId').html('Player ' + elem._id);
            $('.gender p').html(elem.name);
            $('#debt').html('₹ ' + elem.debt.toLocaleString('en-IN'));
            if (elem.pfp.includes('/men/')) {
                $('.gender i').attr('class', 'fas fa-mars');
            }
            else {
                $('.gender i').attr('class', 'fas fa-venus');
            }
            if (elem.isEliminated == 0) {
                $('#statusDot').css('background-color', '#B8FFB7');
                $('.elim').removeClass('disabled');
                $('#status-box p').html("Active");
            }
            else {
                $('#statusDot').css('background-color', '#BE4D68');
                $('#status-box p').html("Eliminated");
                $('.elim').addClass('disabled');
            }
            $('.no-player').hide()
            $('.user-model').show();
            prevSelected = e;

        }
        var multiplier;
        function bet(n) {
            multiplier=n;
            $('#bet-player-id').html(currentSelected._id);
            if(multiplier==1)
            $('#bet-type').html('for');
            else
            $('#bet-type').html('against');
            $('.bg-overlay').show();
            $('.elim-box').show();

        }

        document.querySelector('.yes').addEventListener('click', () => {
            if($('#betAmount').val()>10000)
            $.post("/vip/bet",
                {
                    playerId: currentSelected._id,
                    betAmount: $('#betAmount').val()*multiplier
                },
                function (data, status) {
                    $('.bg-overlay').hide();
                    $('.elim-box').hide();
                    $('#betAmount').val('')

                });
            else{
                alert('kanjoos');
            }
        });
        document.querySelector('.bg-overlay').addEventListener('click', () => {
            $('.bg-overlay').hide();
            $('.elim-box').hide();
            $('#betAmount').val('')

        });

        function filter(){
            
            let elem;
            let string = document.querySelector('.search-name').value;
            if(string.length==0){
                $('.no-player').show();


                prevSelected.querySelector('.status-overlay').style.opacity = 0;

                 $('.user-model').hide();
                 return;
            }
            let found=0;
            let i;
            for( i=0;i<list.length;i++){
                if(list[i].name.toUpperCase().includes(string.toUpperCase()))
                    {
                        elem=list[i];
                        found=1;
                        break;
                    }
            }
            if(found==1)
            selectSearch(elem,i+1);
            else{
                if (prevSelected) {
                prevSelected.querySelector('.status-overlay').style.opacity = 0;
            }
                $('.no-player').show()
                $('.user-model').hide();
            }
        }

        function selectSearch(elem,index) {
            $('.right').animate({
            scrollTop: $('#'+index).offset().top - $('.right').offset().top + 
            $('.right').scrollTop()
            });

            if (prevSelected) {
                prevSelected.querySelector('.status-overlay').style.opacity = 0;
            }
            console.log(index)
            document.getElementById(index).querySelector('.status-overlay').style.opacity = 1;
            prevSelected =  document.getElementById(index);
            currentSelected = elem;
            currentSelected = elem;
            $('.user-image').css('background-image', 'url(' + elem.pfp + ')');
            $('#userId').html('Player ' + elem._id);
            $('.gender p').html(elem.name);
            $('#debt').html('₹ ' + elem.debt.toLocaleString('en-IN'));
            if (elem.pfp.includes('/men/')) {
                $('.gender i').attr('class', 'fas fa-mars');
            }
            else {
                $('.gender i').attr('class', 'fas fa-venus');
            }
            if (elem.isEliminated == 0) {
                $('#statusDot').css('background-color', '#B8FFB7');
                $('.elim').removeClass('disabled');
                $('#status-box p').html("Active");
            }
            else {
                $('#statusDot').css('background-color', '#BE4D68');
                $('#status-box p').html("Eliminated");
                $('.elim').addClass('disabled');
            }
            $('.no-player').hide()
            $('.user-model').show();

        }

        function logout(){
                window.location.href='/auth/logout';
            }

        function openProfile(){
            window.location.href='/vip/profile'
        }
    </script>
</body>

</html>