html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen';
    background-color: #1a1a1a;
    box-sizing: border-box;
}
nav{
    background-color: #272727;
    box-shadow: 0px 4px 8px #0C0C0C;
        padding: 15px 55px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}


.nav{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: 300;
}

.active{
    color: #FF6489;
}

.nav:hover{
    color: #FF6489;
}
.dash{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
    padding-left: 75px;
    
    column-gap: 30px;    
    padding-right: 75px;
}

.charts{
    display: flex;
    flex-direction: column;
}

/* .dash-wrap{
    display: flex;
    flex-direction: column;
} */
.dash-box p{
    color: #FF6489;
    margin: 0;
    margin-top: 15px;
    font-size: 24px;
    font-family: 'Oxygen';

    font-weight: 600;
}

.dash-box{
    display: flex;
    padding: 20px 30px 20px 30px;
    color: white;
    margin-bottom: 30px;
    flex-direction: column;
    background-color: #363636;
    border-radius: 9px;
}
.box-2{
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.box-2 i{
    font-size: 35px;
    color: white;
}

.title i{
    font-size: 22px;
}

.title{
    display: flex;
    align-items: center;
}

.chart-wrap{
    background-color: #363636;
    border-radius: 9px;
    justify-content: space-around;
    display: flex;
    padding: 20px 40px;
    color: white;
    align-items: center;
}

.chart-wrap h1{
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.legend{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.legend p{
    margin: 0;
    margin-left: 20px;
}

.line{
   margin-left: 0;
   padding: 50px 100px;
   margin-bottom: 30px;
}
.download{
    color:white;
    background-color: #FF6489;
    border-radius: 6px;
    padding: 15px 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}