html {
    scroll-behavior: smooth;
  }
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen';
    background-color: #1a1a1a;
    box-sizing: border-box;
}
nav{
    background-color: #272727;
    box-shadow: 0px 4px 8px #0C0C0C;
        padding: 15px 55px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}


.nav{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: 300;
}

.active{
    color: #FF6489;
}

.search-box{
    background-color: white;
    border-radius: 4px;
    padding: 10px 20px;
    width: 17vw;
    display: flex;
    font-weight: 3100;
    font-size: 16px;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
.search-box input{
    font-family: 'Oxygen';
    border: none;
    font-weight: 300;
    font-size: 15px;
}

.search-box i{
    opacity: 0.3;
}
.left{
    overflow: hidden;
}

.srch{
    margin-left: 75px;
    margin-top: 30px;

    display: flex;
    align-items: center;
}

.nav:hover{
    color: #FF6489;
}

.create {
    background-color: #FF6489;
    color: white;
    padding: 11px 20px;
    margin-left: 20px;
    font-family: 'Oxygen';
    font-weight: 300;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.right{
    overflow: overlay;
    overflow-x: hidden;
    height: 93vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.player{
    background-repeat: no-repeat;
    background-size: cover;
    width: 10vw;
    background-position: top center;
    height: 10vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerId{
    position: absolute ;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 1;
    transition: all 0.3s ease;
    color: #B9FBFF;
    font-size: 33px;
    margin-bottom: 13px;
    font-family: "dig";
    z-index: 10;
}

.player-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: pointer;

    opacity: 0;
    transition: all 0.5s ease;
    z-index: 10;
}
.player-data p{
    color: white;
}

.player-data .name{
    font-family: "dig";
    margin: 0;
    text-align: center;
    padding: 0 10px;
    color: #B9FBFF;
    font-size: 25px;
}
.player-data .click{
    font-family: "Oxygen";
    margin: 0;
    font-size: 13px;
    margin-top: 7px;
}

.player:hover .player-data{
    pointer-events: all;
    opacity: 1;
}

.player:hover #playerId{
    opacity: 0;
}


.player:hover::after{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -204.21%, #000000 91.82%);
}

.player::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 1;
    z-index: 1;
    transition: all 0.3s ease;
}

.no-player{
    color: white;
    flex-direction: column;
    margin-left: 3vw;
    font-size: 2vw;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.no-player h1{
    font-family: "Game Of Squids";
    font-size: 3.2vw;
    padding: 0;
    color: #FF6489;
    margin: 0;
}

.no-player p{
    margin: 0;
    margin-top: 30px;
    font-size: 1.6vw;
    font-weight: 300;
}

.user-image{
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://randomuser.me/api/portraits/men/1.jpg");
}

.user-model{
    margin-left: 75px; 
    margin-top: 80px;
}

.profile-wrap{
    display: flex; 
    align-items: center; 
    color: white;
}

#userId{
    font-family: 'Game Of Squids';
    margin: 0;
    font-size: 30px;
}

.user-name{
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: start;
}

.gender {
    margin-top: 10px;

    font-size: 25px;
}
.gender p{
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
}

.user-model h1{
    color: white;
    font-size: 27px;
    margin-top: 40px;
}

.status-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#status-box{
    display: flex;
    align-items: center;
}

#status-box p{
    margin: 0;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    
}
.debt{
    margin-left: 160px;
    color: white;
}

.debt p{
    font-size: 17px;
    margin: 0;
}
#against{
    margin-top: 10px;
}

#debt{
    font-size: 20px;
}

.ui-wrap{
    display: flex;
    align-items: center;
}

#statusDot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #B8FFB7;
}
.elim{
    display: flex;
    border: none;

    border-radius: 6px;
    padding: 10px 25px;
    color: white;
    background-color: #FF6489;
    cursor: pointer;
    margin-top: 50px;
    align-items: center;
}
.elim p{margin: 0;margin-left: 8px;
    font-size: 18px;

}

.search-box input{
    width: 100%;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.elim-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s ease;
    height: 100%;
    background-image: url('../cross.png');   
    z-index: 30;
    opacity: 0;
    background-size: contain;
}

.elim-box{
    color: white;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding-bottom: 30px;
    padding-top: 10px;
    z-index: 100;
    border-radius: 6px;
    background-color: #363636;
    transform: translate(-50%,-50%);
}

.elim-box p{
    text-align: center;
}

.buttons{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.buttons button{
    background-color: #FF6489;
    padding: 10px 32px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.bg-overlay{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}

.no{
    margin-left: 20px;
}

.create-dialog{
    color: white;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    align-items: center;
    z-index: 100;
    border-radius: 6px;
    background-color: #363636;
    transform: translate(-50%,-50%);
}

.create{
    cursor: pointer;
}

.create-dialog h1{
    font-size: 24px;
    text-align: center;
}

.create-dialog form{
    display: flex;
    flex-direction: column;
}

.elim-box form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 300px;
    padding: 10px 15px;
    border: none;
    font-family: 'Oxygen';
    border-radius: 6px;
}

form select{
    padding: 10px 15px;
    border: none;
    font-family: 'Oxygen';
    border-radius: 6px;
}

form label{
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-dialog button{
    background-color: #FF6489;
    border: none;
    border-radius:5px;
    color: white;
    margin-top: 40px;
    padding: 10px 20px;
}

