html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen';
    background-color: #1a1a1a;
    box-sizing: border-box;
}
nav{
    background-color: #272727;
    box-shadow: 0px 4px 8px #0C0C0C;
        padding: 15px 55px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}


.nav{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: 300;
}

.active{
    color: #FF6489;
}

.search-box{
    background-color: white;
    border-radius: 4px;
    padding: 10px 20px;
    width: 17vw;
    display: flex;
    font-weight: 3100;
    font-size: 16px;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
.search-box input{
    font-family: 'Oxygen';
    border: none;
    font-weight: 300;
    font-size: 15px;
}

.search-box i{
    opacity: 0.3;
}
.srch{
    margin-left: 75px;

    display: flex;
    align-items: flex-start;
}

.nav:hover{
    color: #FF6489;
}

.create {
    background-color: #FF6489;
    color: white;
    padding: 11px 20px;
    margin-left: 20px;
    font-family: 'Oxygen';
    font-weight: 300;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.bg-overlay{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}

.no{
    margin-left: 20px;
}

.create-dialog{
    color: white;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    align-items: center;
    z-index: 100;
    border-radius: 6px;
    background-color: #363636;
    transform: translate(-50%,-50%);
}

.create{
    cursor: pointer;
}

.create-dialog h1{
    font-size: 24px;
    text-align: center;
}

.create-dialog form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 300px;
    padding: 10px 15px;
    border: none;
    font-family: 'Oxygen';
    border-radius: 6px;
}

form select{
    padding: 10px 15px;
    border: none;
    font-family: 'Oxygen';
    border-radius: 6px;
}

form label{
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-dialog button{
    background-color: #FF6489;
    border: none;
    border-radius:5px;
    color: white;
    margin-top: 40px;
    padding: 10px 20px;
}


.categ-wrap{
    cursor: pointer;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categ-wrap .class-img{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}



.categ-wrap p{
    text-align: center;
    margin: 0;
    margin-top: 14px;
    color: white;
}

.all{
    background-image: url('../allShape.png');
}
.all-red{
    background-image: url('../allShapeRed.png');
}
.categ-wrap:hover .all{
    background-image: url('../allShapeRed.png');
}

.active p{
    color: #FF6489;
}

.categ-wrap:hover p{
    color: #FF6489;
}

.categ-wrap:hover .workers{
    background-image: url('../ellipseRed.png');
}

.categ-wrap:hover .soldier{
    background-image: url('../squareRed.png');
}

.categ-wrap:hover .manager{
    background-image: url('../triangleRed.png');
}

.workers{
    background-image: url('../ellipse.png');
}
.soldier{
    background-image: url('../square.png');
}
.manager{
    background-image: url('../triangle.png');
}

.workers-red{
    background-image: url('../ellipseRed.png');
}
.soldier-red{
    background-image: url('../squareRed.png');
}
.manager-red{
    background-image: url('../triangleRed.png');
}


.table-head{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #FF6489;
    border-radius: 6px;
    font-size: 8px;
    padding: 0px 30px;
    padding-right   : 45px;
    margin: 30px 75px;
    margin-bottom: 20px;

}
.table-row{
    color: white;
    padding: 4px 30px;
    padding-right   : 55px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 75px;
    background-color: #363636;
    border-radius: 6px;
    font-weight: 300;
    align-items: center;
}

.table-row:hover{
    background-color: #292929;
}

.staff-wrap{
    display: flex;
    align-items: center;
}

.staff-wrap p{
    margin-left: 20px;
}
.icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.edit-dialog{
    color: white;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    align-items: center;
    z-index: 100;
    border-radius: 6px;
    background-color: #363636;
    transform: translate(-50%,-50%);
}

.edit-dialog h1{
    font-family: 'Oxygen';
}

.edit-dialog h1{
    font-size: 28px;
    text-align: center;
}

.edit-dialog form{
    display: flex;
    flex-direction: column;
}

.edit-dialog form select{
    width: 350px;
}

.edit-dialog button{
    background-color: #FF6489;
    border: none;
    border-radius:5px;
    color: white;
    margin-top: 40px;
    padding: 10px 20px;
}
.desig{
    display: flex;
    align-items: center;
}
.desig p{
    margin: 0;
    margin-left: 10px;
}

.search-box input{
    width: 90%;
}